@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0%;
    padding: 0%;
}


body{
    background-color: #F0F2F5;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.first{
    position:absolute ;
    top: 40%;
    left: 12%;
    font-size: 28px;
    line-height: 1.2;

}
.first h1{
    color: #1877F2;
}
.first p{
    font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif; 
}
header{
    width: 400px;
    height: 350px;
    position:absolute;
    top: 25%;
    left: 57%;
    background-color: white;
    border-radius: 9px;
    box-shadow: 2px 2px 10px 2px rgb(198, 198, 198);
}

.box input{
    text-align: left;
    margin-top: 13px;
    padding: 11px ;
    margin-left: 23px;
    margin-right: 23px;
    border-radius: 10px;
    border : 1px solid #d7d8da;
    width: 330px;
    height: 25px;
    
}
.box input :hover{
    border-color : #a0b9e9;
}
::placeholder{
    color: #737373;
}
.login{
    text-align: center;
    background-color: #1877F2;
    margin-top: 18px;
    padding: 11px ;
    margin-left: 23px;
    margin-right: 23px;
    border-radius: 10px;

}
.login a{
    color: white;
    text-decoration: none ;
    font-size: 20px;
    
}
.forgotten{
    text-align: center;
    margin: 12px;
    

}
.forgotten a{
    text-decoration: none;
    color: #1877F2;
    font: size 15px;

}
.creat{
    margin: 30%;
    text-align: center;
    background-color: #36A420;
    margin-top: 20px;
    margin-left: 105px;
    padding: 10px;
    width: 40%;
    left: 60%;
    border-radius: 7px;
    height: 20px;
    

    
}
.creat a{
    text-decoration: none;
    color:white;
    width: 25px;


}
.line1{
    margin-top: 15px;
    border-width:0.5px;
    margin-left: 15px;
    margin-right: 5px;
    border-color: #7c8bab3b;
}

.celebrity{
    position: relative;
    margin-top: 600px;
    left: 900px;
    font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif; 
        
    color:black;
}
a{
    text-decoration: none;
}    
a:hover{
    text-decoration: underline2;
}
.black{
    color:black

    
}
.footer{
    width:100%;
    height: 200px;
    
    background-color: white;
    font-size: 12px;
    text-align: left;
   margin-bottom: 0;
    word-spacing: 12px;
    padding: 50px 200px;
    margin-top: 135px;
} 
.horizont{
    width: 800px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#pagefooter {
    color: #b7b7b7;
    margin-left: -60px;
    width: 980px;
    line-height: 1.8;
}
#pagefooter a{
    color: #858484;
    font-weight: 200;
    width: 60%;
} 